@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

input::placeholder {
  color: #697C9A;
  opacity: 0.7;
}
.margin-right-adjust {
  margin-right: 10px; 
}
